.profilUser {
    border: 1px solid black;
    border: 1px solid rgba(245, 195, 255, 0.176);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(10px) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 700px;
}

.vignetteUser {
    display: flex;
    flex-direction: column;
    padding-inline: 5px;
    align-items: center;
    border: 0.5px solid black;
    border-radius: 15px;
    background: rgb(165, 136, 197);
    width: 85%;
    max-width: 600px;
    margin: 20px 20px 50px 20px;

    color: aliceblue;
}

.mainUser {
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#deconnexion {
    padding: 40px;
    text-decoration: none;
    font-weight: 600;
    font-size: 22px;
}

#supression {
    font-size: 14px;
    padding-bottom: 10px;
    color: rgb(179, 16, 16);
}

input {
    background: rgb(93, 13, 139);
    height: 30px;
    width: 100%;
    border-radius: 8px;
    border: none;
    color: aliceblue;
}

#boutonAvatar {
    background: rgb(93, 13, 139);
    height: 30px;
    width: 30%;
    border-radius: 8px;
    border: none;
    color: aliceblue;
    margin: 10px 0 20px;
}

.imgUtilisateur {
    border: 1px solid rgb(228, 149, 254);
    border-radius: 50px;
    width: 120px;
    height: auto;
    margin-top: 15px;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gameInfo {
    text-align: center;

    p {
        max-width: 50%;
        margin-left: 25%;
        border-radius: 50px;
        color: rgb(93, 13, 139);
    }
}

.favoris {
    text-align: center;
    p {
        max-width: 50%;
        margin-left: 25%;
    }
}

.gameFavoris {
    margin-left: 15px;
}
